.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  align-items: stretch;
  align-content: center;
  flex-wrap: wrap;
}


.cell {
  background-color: white;
  border: 1px solid black;
  margin: 0;

}
