.main {
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  align-items: stretch;
  align-content: center;
  flex-wrap: wrap;
}


.cell {
  background-color: rgb(255, 0, 0);
  border: 1px solid black;
  margin: 0;

}
